<div>
  <h1>
    PERFIL DEL USUARIO
  </h1>

  <p>{{last_name}}</p>
  <p>{{age}}</p>
  <p>{{email}}</p>

  <div>
    <form action="/api/sessions/logout" method="get">
      <br />
      <button type="submit">logout</button>
    </form>
  </div>

</div>