<div>
  <h1>Agregar Producto</h1>
  <form id="add-product-form">
    <label for="title">Título:</label>
    <input type="text" id="title" name="title" value="Harry Potter" required />
    <label for="description">Descripción:</label>
    <input type="text" id="description" name="description" value="La historia de un mago" required />
    <label for="price">Precio:</label>
    <input type="number" id="price" name="price" value="9500"  required />
    <label for="code">Código:</label>
    <input type="text" id="code" name="code" value="9780939173341"  required />
    <label for="stock">Stock:</label>
    <input type="number" id="stock" name="stock" value="27"  required />
    <label for="category">Categoría:</label>
    <input type="text" id="category" name="category" value="Fantasía"  required />
    <label for="status">Estado:</label>
    <input type="checkbox" id="status" name="status" />
    <button type="submit">Agregar</button>
  </form>
</div>

<div>
  {{#if products.length}}
    <h1>Lista de productos</h1>
    <ul id="product-list">
      {{#each products}}
        <li>
          <p>{{this.title}}: ${{this.price}}</p>
          <button class="delete-btn" data-id="{{this.id}}">Eliminar</button>
        </li>
      {{/each}}
    </ul>
  {{else}}
    <h2>Lista de productos vacía</h2>
  {{/if}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js" type="module"></script>